
*{
    padding: 0;
    margin: 0;
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/  
    -webkit-user-select:none; /*webkit浏览器*/  
    -khtml-user-select:none; /*早期浏览器*/  
    -moz-user-select:none;/*火狐*/  
    -ms-user-select:none; /*IE10*/  
    user-select:none;  
}
html {
    font-size: 16px;
}
input,textarea {
    -webkit-user-select:auto; /*webkit浏览器*/
    margin: 0px;
    padding: 0px;
    outline: none;
}
img { content: normal !important; }

input{
    border: none;
    outline: none;
    -webkit-appearance: none; 
}
html,body {
    height: 100%;
    width: 100%;
}