.flex{
    display: flex;
}
.flex-align-center {
    align-items: center;
}
.flex-justify-center {
    justify-content: center;
}
.flex-justify-between{
    justify-content: space-between;
}
.flex-justify-around{
    justify-content: space-around;
}
.flex-justify-evenly{
    justify-content: space-evenly;
}